/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
*:focus {
  outline: 2px dotted #f67e7e;
  outline-offset: 5px;
}
html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  line-height: 1.66;
  color: var(--primary-whtie);
}
img {
  max-width: 100%;
  display: flex;
  object-fit: cover;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
header {
  background-color: var(--primary-midnight-green);
}
footer {
  background-color: var(--secondary-dark-green);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.button {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.55;
  border-radius: 2.4rem;
  border: 2px solid transparent;
  padding: 0.9rem 3.3rem 1.1rem 3.2rem;
  transition: 0.2s ease;
}
.light-btn {
  color: var(--primary-whtie);
  border-color: var(--primary-whtie);

  &:hover {
    background-color: var(--primary-whtie);
    color: var(--secondary-dark-green);
  }
}

.dark-btn {
  color: var(--secondary-dark-green);
  border-color: var(--secondary-dark-green);

  &:hover {
    background-color: var(--secondary-dark-green);
    color: var(--primary-whtie);
  }
}
.header {
  background-image: url("../images/hero-left-bg-img.png"),
    url("../images/hero-bottom-bg-img.png");
  background-position: left, bottom right 18%;
  background-repeat: no-repeat;
}

.header-nav {
  padding-top: 7.3rem;
  margin-bottom: 12.9rem;
}
.header-nav__container {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 8rem;
}

.sitenav-link-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.sitenav {
  margin-right: auto;
}

.sitenav-list {
  display: flex;
  gap: 4rem;
}
.sitenav-list a {
  color: var(--primary-whtie);
  font-weight: 600;
  line-height: 1.55;
  font-size: 1.8rem;
}
.sitenav-list a:hover {
  color: var(--primary-ligth-coral);
}
.navbar-toggle {
  display: none;
  background-color: transparent;
  border: 0;
}

.navbar-toggle-time-btn {
  margin-bottom: 3.9rem;
  display: none;
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .header-nav {
    padding-top: 5rem;
    margin-bottom: 9rem;
  }

  .sitenav {
    margin-right: 0;

    ul {
      flex-direction: column;
      gap: 2.4rem;
      margin-bottom: 3.6rem;
    }
  }

  .sitenav-link-wrapper {
    background-color: var(--secondary-police-blue);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4.8rem;
    padding-right: 2.5rem;
    padding-top: 5.6rem;
    transform: translate(100%);
    transition: 0.3s ease;
  }

  .sitenav-link-wrapper.show-navbar {
    transform: translate(0);
  }

  .navbar-toggle-time-btn {
    display: block;
  }

  .header-nav__container {
    justify-content: space-between;
  }

  .navbar-toggle {
    display: block;
  }
}
.header-hero__container {
  display: flex;
  margin-bottom: 25rem;
}
.header-hero__title_wrapper {
  width: 100%;
  max-width: 620px;
}
.header-hero__title {
  color: var(--primary-whtie);
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
}
.header-hero__title span {
  color: var(--primary-ligth-coral);
}
.header-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  max-width: 445px;
}
.header-hero__divider {
  color: var(--secondary-rapture-blue);
}
.site-divider {
  color: var(--primary-whtie);
  width: 5rem;
  height: 4px;
}
.header-hero__description {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.55;
  color: var(--secondary-rapture-blue);
}
.burger-icon {
  display: none;
}
@media (max-width: 1070px) {
  .header-hero__title {
    font-size: 7rem;
  }
}
@media (max-width: 825px) {
  .header__site-logo {
    width: 11rem;
    height: 3rem;
    object-fit: contain;
  }
  .header-hero__container {
    margin-bottom: 15rem;
  }
  .header-nav__container {
    margin-bottom: 8rem;
    padding-top: 5rem;
  }
  .header-hero__title_wrapper {
    text-align: center;
  }
  .header-hero__container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-hero__divider {
    display: none;
  }
  .header-hero__description {
    text-align: center;
  }
  .header__site-logo {
    width: 11rem;
    height: 3rem;
    object-fit: contain;
  }
}

@media (max-width: 650px) {
  .header {
    background-image: url("../images/hero-bottom-bg-img.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .header-nav {
    padding-top: 0rem;
    margin-bottom: 0rem;
  }

  .header-nav__container {
    margin-bottom: 4rem;
  }

  .header__list {
    display: none;
    align-items: center;
    gap: 4rem;
  }
  .button {
    display: none;
  }
  .light-btn {
    display: none;
  }
  .header__link_iteam {
    display: none;
  }
  .burger-icon {
    display: flex;
  }
  .header-hero__description {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .header-nav__container {
    margin-bottom: 4rem;
  }
  .header-hero__title {
    font-size: 4rem;
  }
  .header-hero__description {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .header {
    background-image: url("../images/hero-bottom-bg-img.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .header-hero__title {
    font-size: 3rem;
  }
  .header-hero__description {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5rem;
  }
  .header-hero__container {
    margin-bottom: 5rem;
  }
}
.build {
  background-color: var(--secondary-sacramento-state-green);
  background-image: url("../images/build-bg-img.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.build-container {
  display: flex;
  padding: 14rem 0rem;
  justify-content: space-between;
}
.build__title_wrapper {
  width: 100%;
  max-width: 445px;
}
.build__title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  color: var(--primary-whtie);
}
.build-title__divider {
  color: var(--primary-ligth-coral);
  margin-bottom: 5.4rem;
}
.title-divider {
  color: var(--primary-ligth-coral);
  width: 5rem;
  height: 4px;
}
.build__content_wrapper {
  width: 100%;
  max-width: 540px;
  padding-top: 5.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.build-content__box {
  display: flex;
  gap: 2.6rem;
}

.build-content__title {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.55;
  color: var(--primary-ligth-coral);
}
.buil-content__info {
  font-weight: 600;
  font-size: 1.5;
  line-height: 1.66;
  color: var(--primary-whtie);
}

@media (max-width: 950px) {
  .build {
    background-position: right top;
  }
  .build-container {
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .build__title_wrapper {
    margin-left: 10%;
  }
  .build__content_wrapper {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 650px) {
  .build-container {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .build__title_wrapper {
    max-width: 300px;
  }
  .build__title {
    font-size: 3.5rem;
  }
  .build-content__box {
    flex-direction: column;
    align-items: center;
  }
  .build-content__text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  .buil-content__info {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (max-width: 460px) {
  .build-container {
    padding-bottom: 0;
  }

  .build__title {
    font-size: 3rem;
  }

  .build-title__divider {
    margin-bottom: 3rem;
  }
  .build__title_wrapper {
    margin-left: 0;
  }
}
.delivering {
  background-color: var(--secondary-deep-jungle-green);
  background-image: url("../images/delivering-bg-img-bottom.svg"),
    url("../images/delivering-bg-img.svg");
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}
.delivering__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14rem 0rem;
}
.delivering__titlep_wrapper {
  margin-bottom: 5.6rem;
  width: 100%;
  max-width: 932px;
}
.delivering__titlep_wrapper h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  color: var(--primary-whtie);
  text-align: center;
}
.delivering__titlep_wrapper span {
  color: var(--secondary-rapture-blue);
}
.delivering__info_wrapper {
  display: flex;
  gap: 3rem;
}
.info-wrapper__box {
  background-image: url("../images/delivering-bg-img-center.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivering-info__text {
  text-align: center;
  padding-top: 3.6rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.66;
  color: var(--primary-whtie);
  margin-bottom: 2.4rem;
}
.delivering-info__text_name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.55;
  color: var(--secondary-rapture-blue);
  margin-bottom: 2px;
}
.delivering-info__text_job {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.38;
  color: var(--primary-whtie);
  margin-bottom: 3.2rem;
}

@media (max-width: 1090px) {
  .delivering__info_wrapper {
    flex-direction: column;
  }

  .info-wrapper__box {
    max-width: none;
  }
}

@media (max-width: 780px) {
  .delivering__wrapper {
    padding: 10rem 0rem;
  }

  .delivering__titlep_wrapper {
    max-width: 573px;
    h2 {
      font-size: 3.2rem;
    }
  }
}
@media (max-width: 580px) {
  .delivering__titlep_wrapper {
    max-width: 327px;
    h2 {
      font-size: 3rem;
    }
  }

  .delivering-info__text {
    margin-bottom: 0rem;
    font-size: 1.2rem;
  }
  .delivering-info__text_name {
    font-size: 1.4rem;
  }
  .delivering-info__text_job {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 370px) {
  .delivering__titlep_wrapper {
    padding-top: 7rem;
  }
  .delivering__info_wrapper {
    margin-bottom: 5rem;
  }
}
.contact {
  background-color: var(--primary-ligth-coral);
  background-image: url("../images/contact-bg-img.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 7.6rem 0rem;
}
.contact__title_wrapper h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  color: var(--secondary-sacramento-state-green);
}

@media (max-width: 915px) {
  .contact__title_wrapper {
    h2 {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 750px) {
  .contact__wrapper {
    padding: 3rem;
  }
  .contact__wrapper {
    justify-content: end;
    gap: 5%;
  }
  .contact__title_wrapper {
    h2 {
      font-size: 2.8rem;
    }
  }
  .button {
    padding: 0.7rem 2.5rem 0.9rem 2.5rem;
  }
}

@media (max-width: 730px) {
  .contact__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 655px) {
  .contact__wrapper {
    padding: 6rem 0rem;
    align-items: end;
  }
  .contact-button {
    display: inline-block;
  }
  .contact__title_wrapper {
    h2 {
      text-align: end;
    }
  }
}
.footer-container {
  display: flex;
  padding: 4.8rem;
}
.footer__left-center_wrapper {
  display: flex;
  margin-right: auto;
  gap: 12.5rem;
}
.footer__left_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer__link_iteam {
  color: var(--primary-whtie);
  font-size: 1.8rem;
  line-height: 1.55;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    color: var(--primary-ligth-coral);
  }
}
.footer__text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.66;
  color: var(--primary-whtie);
  opacity: 60%;
}

.right-wrapper__box {
  display: flex;
  flex-direction: column;
  gap: 5.1rem;
}
.footer__icon_wrapper {
  display: flex;
  justify-content: end;
  gap: 1.6rem;
}
.footer__icon {
  object-fit: contain;
}

@media (max-width: 815px) {
  .footer__left-center_wrapper {
    gap: 2rem;
    margin-bottom: 3rem;
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .footer__site-logo_link {
    margin-left: 3rem;
  }
  .footer__site-logo {
    width: 11rem;
    height: 3rem;
    object-fit: contain;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer__icon_wrapper {
    justify-content: start;
    margin-right: auto;
    margin-left: auto;
  }
  .footer__center_wrapper {
    text-align: center;
  }
  .footer__list {
    gap: 8rem;
  }
  .right-wrapper__box {
    gap: 3rem;
  }
  .footer__left-center_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__right_wrapper {
    text-align: center;
  }
}
