:root {
  --primary-midnight-green: #014e56;
  --primary-ligth-coral: #f67e7e;
  --primary-whtie: #ffffff;

  --secondary-rapture-blue: #79c8c7;
  --secondary-police-blue: #2c6269;
  --secondary-deep-jungle-green: #004047;
  --secondary-sacramento-state-green: #012f34;
  --secondary-dark-green: #002529;

  --main-font-family: "Livvic", sans-serif;
}
